[submodule "modules/packages3D"]
	path = modules/packages3D
	url = https://github.com/KiCad/packages3D.git
[submodule "modules/kicad-libraries"]
	path = 3-party/azonenberg
	url = https://github.com/azonenberg/kicad-libraries.git
[submodule "modules/kicad-footprints"]
	path = modules/kicad-footprints
	url = https://github.com/KiCad/kicad-footprints.git
[submodule "kicad-symbols"]
	path = kicad-symbols
	url = https://github.com/KiCad/kicad-symbols.git
